@page "/event-details/{eventId}"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<PageTitle>Event Details</PageTitle>

@if (Event == null)
{
    <p>Loading...</p>
}
else
{
    <div class="details-container">
        <h1>@Event.Name</h1>
        <img src="/images/EventImages/@Event.ImageUrl" class="img-fluid" alt="@Event.Name" style="width: 50%" />
        <p>Address: @Event.Address</p>
        <p>Date: @Event.Date.ToString("dddd, dd MMMM yyyy")</p>
        <p>Description: @Event.Description</p>
        <p>Price: @Event.Price $</p>
        <p>Category: @Event.Category</p>

        <h2>Event Admin Information</h2>
        <p>Admin Name: @Event.User.FirstName @Event.User.LastName</p>
        <p>Phone: @Event.User.PhoneNumber</p>
        <p>Email: @Event.User.Email</p>

        <a href="@($"ticketpurchasepage/{EventId}")" class="btn btn-primary">Order Tickets</a>
    </div>
}

@code {
    [Parameter]
    public string EventId { get; set; }

    private Event Event;

    protected override async Task OnInitializedAsync()
    {
        if (int.TryParse(EventId, out int id))
        {
            Event = await HttpClient.GetFromJsonAsync<Event>($"https://localhost:7206/api/Events/{id}");
        }
        else
        {
            //error page 
        }
    }
}
